@import '~@lumx/core/scss/lumx-theme-lumapps.scss';
@import '~@lumx/core/scss/lumx-theme-material.scss';
@import '~@mdi/font/css/materialdesignicons.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  header{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .lumx-flex-box{
      width: 50%;
    }  
  }

  .main_container {
    width: 1280px;
    margin: 0 auto;
        
    @media (max-width: 1280px) {
      width: 975px;
    }

    @media (max-width: 975px) {
      width: 650px;
    }

    @media (max-width: 650px) {
      width: 300px;
    }
  }

  img.img-responsive{
      width: 100%;
      height: auto;
  }

  .pagination{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    li{
      display: inline-block;
      width: 30px;
      height: 30px;

      &.disabled{
        visibility: hidden;
      }

      a,
      &.previous:after,
      &.next:after{
        position: relative;
        cursor: pointer;
        width: 100%;
        height: 100%;
        transition: all .2s ease-in-out;
        display: inline-block;
      }

      &.previous,
      &.next{
        font-family: 'Material Design Icons';
      }
      
      &.next{
        &:after{
          content:"\F0142";
        }
      }

      &.previous{
          &:after{
          content:"\F0141";
        }
      }
      
      &.active a,
      &.previous:hover:after,
      &.next:hover:after,
      a:hover{
        transition: all .2s ease-in;
        color: #fff;
        background-color: $lumx-color-blue-N;
      }
    }
  }
}

.searchField{
  background: #fff;
  height: 30px;
  &:before{
    content:"\F0349";
    font-family: 'Material Design Icons';
  }
  
  .searchInput{
    border: 0;
    position: relative;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './App/App.scss';
@import './components/Header/index.scss';
@import './components/SearchField/index.scss';
@import './components/PersonList/index.scss';
@import './components/Person/index.scss';
